.chart
  box-shadow: 0 2px 10px rgba(0,0,0,.1)


.projects-preview
  .projects-preview_list
    &>li
      border-bottom: 1px solid #505464
      margin-bottom: 24px
      padding-bottom: 24px
      &:first-child
        margin-top: 24px
      &:last-child
        border-bottom: none
  .projects-preview_logo
    width: 40px
    height: auto
    border-radius: 50%
    float: left
    margin-left: 25px
    margin-right: 25px
  .projects-preview_desc
    span
      margin-bottom: 4px
      display: inline-block
  .projects-priview_list-desc
    &>li
      float: left
      margin-left: 30px
      color: #9ea3b4
      position: relative
      &:first-child
        margin-left: 0
      &::after
        content: '•'
        position: absolute
        right: -20px
      &:last-child
        &::after
          display: none
    &::after
      content: ''
      visibility: hidden
      display: block
      height: 0
      clear: both
