
<div class="container-fluid">

  <div class="row" style="margin-bottom: 20px">

    <div class="col-md-8">
      <canvas baseChart width="400" height="200"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType">
                  Browser doesn't support canvas, please update your browser and back to the page
                </canvas>
    </div>

    <div class="col-md-4">

      <div class="projects-preview view-box">
        <div class="view-box_head">
          Your projects
        </div>
        <div class="view-box_body">
          <ul class="projects-preview_list">
            <li>
              <img src="/images/profile-image.jpg" class="projects-preview_logo" alt="">
              <div class="projects-preview_desc">
                <span>Mobile app</span>
                <ul class="projects-priview_list-desc">
                  <li>Symu.co</li>
                  <li>$1500</li>
                </ul>
              </div>
            </li>
            <li>
              <img src="/images/profile-image.jpg" class="projects-preview_logo" alt="">
              <div class="projects-preview_desc">
                <span>Mobile app</span>
                <ul class="projects-priview_list-desc">
                  <li>Symu.co</li>
                  <li>$1500</li>
                  <li>Sale</li>
                </ul>
              </div>
            </li>
            <li>
              <img src="/images/profile-image.jpg" class="projects-preview_logo" alt="">
              <div class="projects-preview_desc">
                <span>Mobile app</span>
                <ul class="projects-priview_list-desc">
                  <li>Symu.co</li>
                  <li>$1500</li>
                </ul>
              </div>
            </li>
            <li>
              <img src="/images/profile-image.jpg" class="projects-preview_logo" alt="">
              <div class="projects-preview_desc">
                <span>Mobile app</span>
                <ul class="projects-priview_list-desc">
                  <li>Symu.co</li>
                  <li>$1500</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>


    </div>

  </div>

  <div class="clearfix"></div>

  <!-- <div class="row">
    <div class="col-md-5">
      third
    </div>
    <div class="col-md-3">
      fourth
    </div>
    <div class="col-md-3">
      five
    </div>
  </div> -->


</div>
