<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <header class="navbar-header">
      <a href="#" class="navbar-brand">
        <img src="/images/virtus-logo.png" alt="">
      </a>
    </header>

    <section class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right controlls" style="line-height: 96px">

        <li>
          <button class="btn btn-success">
            Add
            <i class="fa fa-plus"></i>
          </button>
        </li>

        <li>
          <i class="fa fa-search"></i>
        </li>

        <li>
          <i class="fa fa-bell"></i>
        </li>

        <li style="position: relative">
          <div class="profile-image">
            <img src="/images/profile-image.jpg" alt="profile" class="profile-image">
          </div>
          <i style='font-size: 12px' class="fa fa-chevron-down"></i>
        </li>

      </ul>
    </section>

  </div>
</div>

<nav class="sidebar sidebar-right">
  <ul class="sidebar-nav">
    <li routerLink="/charts" routerLinkActive="active">
      <i class="fa fa-home"></i>
    </li>
    <li routerLink="/workflow" routerLinkActive="active">
      <i class="fa fa-bars"></i>
    </li>
    <li routerLink="/raport" routerLinkActive="active">
      <i class="fa fa-line-chart" aria-hidden="true"></i>
    </li>
    <li routerLink="/inbox" routerLinkActive="active">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </li>
    <li routerLink="/profile" routerLinkActive="active">
      <i class="fa fa-user" aria-hidden="true"></i>
    </li>
  </ul>
</nav>

<section class="view-section">

    <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1" style="padding-top: 40px">
       <router-outlet></router-outlet>
    </div>

</section>
