$app-left-menu-bg: #2d3040
$app-left-menu-color: #757da4
$app-left-menu-hover-color: #fcfcfd
.controlls
  color: #fff

.navbar-nav
  li
    list-style: none
    margin-left: 40px
    &:first-child
      margin-left: 0
    i.fa
      font-size: 18px
      cursor: pointer
    .profile-image
      width: 50px
      height: 50px
      border-radius: 50%
      float: left
      margin-top: 12px
      margin-right: 10px
      &::after
        content: ''
        height: 0
        visibility: none
        clear: both
      img
        width: 100%
        height: auto

.sidebar
  width: 96px
  height: 100%
  position: absolute
  left: 0
  background-color: $app-left-menu-bg
  .sidebar-nav
    z-index: 99
    list-style: none
    padding: 0
    margin: 0
    text-align: center
    li
      color: $app-left-menu-color
      font-size: 30px
      margin-bottom: 15px
      cursor: pointer
      padding-top: 10px
      padding-bottom: 10px
      transition: background .3s
      &:first-child
        margin-top: 20px
        &:hover
          background: none
      &.active
        color: $app-left-menu-hover-color
        &:hover
          color: darken($app-left-menu-hover-color, 10%)
      &:hover
        color: lighten($app-left-menu-color, 10%)
        background-color: darken($app-left-menu-bg, 5%)

.shadow-box
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .1)
