/* You can add global styles to this file, and also import other style files */

// FontAwesome
@import "../node_modules/font-awesome/css/font-awesome.css"

// Core settings for bootstrap

@import "variables"
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins"

// Browser styles to optimal state

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize"

// bootstrap grid system

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding"
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid"
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/media"

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms"
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navbar"
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons"

$app-bg-color: #2a2c3b



body
  font-family: Arial, sans-serif
  background-color: $app-bg-color
  color: white


.navbar-inverse
  border-radius: 0
  border: none
  box-shadow: 0 3px 80px rgba(0,0,0,.1)
  margin: 0

ul
  padding: 0
  margin: 0
  list-style: none

.view-box
  width: 100%
  background-color: #2f3242
  .view-box_head
    padding: 20px 0
    text-align: center
    font-size: 20px
    color: #fff
    background-color: #3a3e52


.btn-success
  background: none !important
  border: 1px solid #2196f3 !important
  border-radius: 30px
  padding: 8px 20px
  i.fa
    color: #2196f3
    margin-left: 5px
    font-size: 12px
  &:hover
    background: none
  &:active
    background: none
